[user]
  # These values are set in ~/.gitconfig_local
  # see https://stackoverflow.com/a/42571751/109305
[include]
      path = ./.gitconfig_local
[github]
  user  = jesperronn
[github]
  user  = jesperronn
[core]
  autocrlf     = input
  whitespace   = fix,space-before-tab,tab-in-indent,trailing-space
  excludesfile = ~/.gitignore_global
  editor       = mvim -f
  pager        = "less -M"
  pager        = "less -M -F -X -S"
[apply]
  whitespace   = fix
[color]
  diff         = auto
  status       = auto
  branch       = auto
  ui           = auto
  interactive  = auto
[alias]
  git          = !exec git
  st           = status -bs
  ci           = commit
  co           = checkout
  br           = branch
  cp           = cherry-pick
  lol          = log --oneline --graph --decorate
  g            = grep --break --heading --line-number
  root         = rev-parse --show-toplevel
  cdroot       = !cd $(git root)
  sha          = rev-parse HEAD
  taglist      = show-ref --tags --abbrev

  # available short color formats:  normal, black, red, green, yellow, blue, magenta, cyan and white. First color: foreground; Second: background.
  ls  = log --pretty=\"%C(green)%h %C(blue dim)%<(7,trunc)%cr %C(cyan)%G? %C(magenta dim)%<(13,trunc)%an%C(reset)%C(normal)%<(80,trunc)% s%C(blue dim)% ai%C(reset)%C(auto)%+d%C(reset)\" --abbrev-commit --decorate=short
  lsh = log --pretty=\"%C(green)%h %C(blue dim)%<(7,trunc)%cr %C(cyan)%G? %C(magenta dim)%<(13,trunc)%an%C(reset)%C(normal)%<(60,trunc)% s%C(reset)%C(auto)%+d%C(reset)\" --abbrev-commit --decorate=short
  lsa = log --stat --graph --decorate --all
# stats shorcuts fra https://gist.github.com/hofmannsven/6814278
  stats        = log -10 --dirstat=files,1,cumulative --ignore-blank-lines --abbrev-commit --oneline --graph --decorate
  rebasesign   = rebase --exec 'git commit --amend --no-edit -n -S'

# check-whitespace usage:
  # git check-whitespace | grep trailing | cut -d: -f1 | uniq -u -z | xargs -0 sed --in-place -e 's/[ \t]+$//'
  # from https://stackoverflow.com/a/40371757/109305
  check-whitespace = !git diff-tree --check $(git hash-object -t tree /dev/null) HEAD

[fetch]
  recurseSubmodules = true
  prune        = true
[merge]
  log = true
[submodule]
  fetchjobs    = 8
[log]
  abbrevCommit = true
[push]
  default      = current
[rebase]
  autoSquash   = true
  autoStash    = true
[rerere]
  enable       = true
[remote "origin"]
  prune        = true

[credential]
  helper       = store --file=~/.git-credentials
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[commit]
  gpgsign = false
[gpg]
  program = gpg
