[user]
  # These values are set in ~/.gitconfig_local
  # see https://stackoverflow.com/a/42571751/109305
[include]
  path = ./.gitconfig_local
[core]
  autocrlf     = input
  whitespace   = fix,space-before-tab,tab-in-indent,trailing-space
  excludesfile = ~/.gitignore_global
  editor       = mvim -f
  pager        = "less -M"
  pager        = "less -M -F -X -S"
[apply]
  whitespace   = fix
[color]
  diff         = auto
  status       = auto
  branch       = auto
  ui           = auto
  interactive  = auto
[alias]
  git          = !exec git

  st           = status -bs
  ci           = commit
  co           = checkout
  br           = branch
  brs          = branch --sort committerdate
  cp           = cherry-pick
  g            = grep --break --heading --line-number
  root         = rev-parse --show-toplevel
  cdroot       = !cd $(git root)
  sha          = rev-parse HEAD
  taglist      = show-ref --tags --abbrev
  alias        = ! git config --get-regexp ^alias\\.

  # After a rebase, when you run it, it resets all of the commit dates to the author dates
  # so your commit logs on github / gitlab show up in proper chronological order, instead of the moment of the rebase.
  redate = rebase --committer-date-is-author-date

  # available short color formats:  normal, black, red, green, yellow, blue, magenta, cyan and white. First color: foreground; Second: background.
  ls  = log --pretty=\"%C(green)%h %C(blue)%<(7,trunc)%cr %C(cyan)%G? %C(magenta)%<(13,trunc)%an%C(reset)%C(normal)%<(80,trunc)% s%C(blue)% ai%C(reset)%C(auto)%+d%C(reset)\" --abbrev-commit --decorate=short
  lsh = log --pretty=\"%C(green)%h %C(blue)%<(7,trunc)%cr %C(cyan)%G? %C(magenta)%<(13,trunc)%an%C(reset)%C(normal)%<(60,trunc)% s%C(reset)%C(auto)%+d%C(reset)\" --abbrev-commit --decorate=short
  lsa = log --stat --graph --decorate --all
  lol = log --oneline --graph --decorate
  logsince  = log --pretty='* %s' master..HEAD --reverse
  logsinceh = log --pretty='%C(dim)%h%C(reset) %s' master..HEAD --reverse
  # stats shorcuts fra https://gist.github.com/hofmannsven/6814278
  stats        = log -10 --dirstat=files,1,cumulative --ignore-blank-lines --abbrev-commit --oneline --graph --decorate
  rebasesign   = rebase --exec 'git commit --amend --no-edit -n -S'
  sign         = commit --amend --no-edit -S
  # clean/remove merged branches
  cleanbranches =  !git branch --merged master | grep -v master |xargs git branch -d

  # check-whitespace usage:
  # git check-whitespace | grep trailing | cut -d: -f1 | uniq -u -z | xargs -0 sed --in-place -e 's/[ \t]+$//'
  # from https://stackoverflow.com/a/40371757/109305
  check-whitespace = !git diff-tree --check $(git hash-object -t tree /dev/null) HEAD

[fetch]
  recursesubmodules = true
  prune        = true
[merge]
  log = true
[submodule]
  fetchjobs    = 8
[log]
  abbrevCommit = true
        follow = true
[push]
  default      = current
[rebase]
  autoSquash   = true
  autoStash    = true
[rerere]
  enable       = true
[remote "origin"]
  prune        = true

[credential]
  helper       = store --file=~/.git-credentials
[filter "lfs"]
        required = true
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
[commit]
  gpgsign = false
        template = ~/.stCommitMsg
[gpg]
  program = gpg

# below a section to setup diffing of compressed/binary file formats
[core]
  attributesFile = ~/.gitattributes
[diff "zip"]
  textconv = unzip -p
  binary = true
[diff "gz"]
  textconv = gzcat
  binary = true
[diff "bz2"]
  textconv = bzcat
  binary = true
[diff "xz"]
  textconv = xzcat
  binary = true
[diff "tar"]
  textconv = tar -O -xf
  binary = true
[diff "tar-bz2"]
  textconv = tar -O -xjf
  binary = true
[diff "tar-gz"]
  textconv = tar -O -xzf
  binary = true
[diff "tar-xz"]
  textconv = tar -O -xJf
  binary = true

[diff "odf"]
  textconv = odt2txt
[diff "pdf"]
  textconv = pdfinfo
[diff "excel"]
  textconv = unzip -c -a
  textconv = unzip -c
  textconv = unzip -c -aa
  textconv = unzip -c ---a
  binary = true


[diff "bin"]
  textconv = hexdump -v -C

# images require `brew install exiftool`
[diff "image"]
  textconv = exiftool
